<h1><%= t('easypost_settings') %></h1>

<%= form_tag(admin_easypost_setting_path, method: :put, id: :easypost_settings_form) do %>
  <div class="yui-g">
    <div class="yui-u first">
      <fieldset>
        <p>
          <label><%= t('buy_postage_when_shipped') %></label><br />
          <%= check_box_tag('settings[buy_postage_when_shipped]', true, Spree::Config.buy_postage_when_shipped, class: 'easypost') %>
        </p>

        <p>
          <label><%= t('auto_capture_on_postage_buy') %></label><br />
          <%= check_box_tag('settings[auto_capture_on_postage_buy]', true, Spree::Config.auto_capture_on_postage_buy, class: 'easypost') %>
        </p>

        <p>
          <label><%= t('validate_address_with_easypost') %></label><br />
          <%= check_box_tag('settings[validate_address_with_easypost]', true, Spree::Config.validate_address_with_easypost, class: 'easypost') %>
        </p>
      </fieldset>
    </div>
  </div>

  <p class="form-buttons"><%= button t('save_preferences') %></p>
<% end %>
