<h1><%= t('easypost_settings') %></h1>

<%= form_tag admin_easypost_setting_path, method: :put, id: :easypost_settings_form do %>
  <div class="yui-g">
    <div class="yui-u first">
      <fieldset>
        <p>
          <label><%= t('buy_postage_when_shipped') %></label><br />
          <%= hidden_field_tag 'settings[buy_postage_when_shipped]', false %>
          <%= check_box_tag 'settings[buy_postage_when_shipped]', true, Spree::Config.buy_postage_when_shipped, class: 'easypost' %>
        </p>

        <p>
          <label><%= t('use_easypost_on_frontend') %></label><br />
          <%= hidden_field_tag 'settings[use_easypost_on_frontend]', false %>
          <%= check_box_tag 'settings[use_easypost_on_frontend]', true, Spree::Config.use_easypost_on_frontend, class: 'easypost' %>
        </p>

        <p>
          <label><%= t('validate_address_with_easypost') %></label><br />
          <%= hidden_field_tag 'settings[validate_address_with_easypost]', false %>
          <%= check_box_tag 'settings[validate_address_with_easypost]', true, Spree::Config.validate_address_with_easypost, class: 'easypost' %>
        </p>

        <p>
          <label<%= t('customs_signer') %></label><br />
          <%=  text_field_tag 'settings[customs_signer]', Spree::Config.customs_signer %>
        </p>

        <p>
          <label<%= t('customs_contents_type') %></label><br />
          <%=  text_field_tag 'settings[customs_contents_type]', Spree::Config.customs_contents_type %>
        </p>

        <p>
          <label<%= t('customs_eel_pfc') %></label><br />
          <%=  text_field_tag 'settings[customs_eel_pfc]', Spree::Config.customs_eel_pfc %>
        </p>

        <p>
          <label<%= t('carrier_accounts_shipping') %></label><br />
          <%=  text_field_tag 'settings[carrier_accounts_shipping]', Spree::Config.carrier_accounts_shipping %>
        </p>

        <p>
          <label<%= t('carrier_accounts_returns') %></label><br />
          <%=  text_field_tag 'settings[carrier_accounts_returns]', Spree::Config.carrier_accounts_returns %>
        </p>
      </fieldset>
    </div>
  </div>

  <p class="form-buttons"><%= button t('save_preferences') %></p>
<% end %>
