<% if @return_authorization.customer_shipments.any? %>
  <table class="table">
    <thead data-hook="customer_shipments_header">
      <tr>
        <th><%= Spree.t(:customer_shipments_number) %></th>
        <th><%= Spree.t(:customer_shipments_tracking) %></th>
        <th><%= Spree.t(:customer_shipments_weight) %></th>
        <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @return_authorization.customer_shipments.each do |customer_shipment| %>
        <tr id="<%= spree_dom_id(customer_shipment) %>" data-hook="return_row">
          <td><%= customer_shipment.number %></td>
          <td><%= link_to "#{customer_shipment.tracking}", customer_shipment.tracking_label %></td>
          <td><%= customer_shipment.weight %></td>
          <td><%= pretty_time(customer_shipment.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

